.landing-sider{
    background: #911606 !important;
}

.support{
    color: #FFF !important;
}

.menu-sider{
    background: transparent !important;

    li {
        background-color: #FFFFFF !important;
        border-top-left-radius: 9px !important;
        border-top-right-radius: 9px !important;
        border-bottom-left-radius: 9px !important;
        border-bottom-right-radius: 9px !important;
    }
}

.card-producto{
    min-height: 500px;
}